body {
  margin: 0 !important; /* Forzar el margen a 0 */
}
/* src/App.css */
.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Fondo más claro */
}

.sidebar {
  width: 200px;
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Asegúrate de que los elementos en la barra lateral se apilen verticalmente */
}

.sidebar h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 0.5rem;
  transition: background-color 0.3s, color 0.3s; /* Añadido para la transición de color */
}

.sidebar li:hover {
  background-color: #34495e;
  color: #ecf0f1; /* Color del texto al pasar el mouse */
}

.sidebar a {
  color: white; /* Color de texto para los enlaces */
  text-decoration: none; /* Elimina el subrayado */
  display: block; /* Asegúrate de que el enlace ocupe todo el espacio del elemento */
}

.sidebar a:hover {
  color: #ecf0f1; /* Cambia el color al pasar el mouse */
}

.content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Estira el contenido para llenar el área disponible */
  justify-content: flex-start; /* Alineamos el contenido hacia arriba */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%; /* Aseguramos que ocupe el ancho completo */
}

h1 {
  font-size: 2rem;
  margin: 0; /* Eliminamos el margen para mejor alineación */
  text-align: left; /* Cambiamos a alineación izquierda para mejor legibilidad */
  color: #2c3e50; /* Color del título */
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* Mover el botón hacia la derecha */
}

.table-container {
  margin-top: 1rem; /* Ajustamos el margen superior */
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  width: 90%; /* Ajustamos el ancho de la tabla */
  max-width: 1000px; /* Limitar el ancho máximo de la tabla */
  margin-left: auto; /* Centra el contenedor en la página */
  margin-right: auto; /* Centra el contenedor en la página */
}

.table-container h3 {
  margin-bottom: 1rem;
  text-align: center; /* Centrar el título de la tabla */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.75rem; /* Ajustar el padding para mejor legibilidad */
  text-align: left;
  border-bottom: 2px solid #ddd; /* Mayor grosor para separación */
}

th {
  background-color: #3498db; /* Color de fondo para encabezados */
  color: white;
  font-weight: bold; /* Texto en negrita */
  font-size: 1.1rem; /* Aumentar tamaño de fuente */
}

tr:hover {
  background-color: #ecf0f1; /* Color claro al pasar el mouse */
}

.action-button {
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición para el botón */
}

.action-button:hover {
  background-color: #27ae60; /* Color más oscuro al pasar el mouse */
}

td {
  font-size: 0.9rem; /* Tamaño de fuente para celdas */
  color: #34495e; /* Color de texto para mejor legibilidad */
}


body {
  margin: 0 !important; /* Forzar el margen a 0 */
}

.saldo-card {
  background-color: #09a64b; /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 20px; /* Espaciado interno */
  margin: 20px 0; /* Margen externo */
  text-align: center; /* Centrar el texto */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.saldo-card h2 {
  margin: 0; /* Eliminar margen del encabezado */
  font-size: 24px; /* Tamaño de fuente del encabezado */
}

.saldo-amount {
  font-size: 36px; /* Tamaño de fuente del saldo */
  font-weight: bold; /* Negrita para el saldo */
  margin-top: 10px; /* Margen superior para separación */
  border-top: 2px solid rgba(255, 255, 255, 0.7); /* Línea superior para separación */
  padding-top: 10px; /* Espaciado interno superior */
}

.table-container {
  position: relative;
  padding: 20px;
}

.error-card {
  background-color: #f8d7da;
  color: #721c24;
  padding: 16px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-bottom: 20px; /* Para separar del saldo */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-card p {
  margin: 0;
}

.error-card button {
  background-color: transparent;
  border: none;
  color: #721c24;
  cursor: pointer;
  font-weight: bold;
}



.saldo-card h2 {
  margin: 0;
}


/* Estilos de la paginación */
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-item a {
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .page-item a:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination .page-item.active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  pointer-events: none;
}

/* Estilos para el loading */
.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.success-message {
  background-color: #d4edda; /* Fondo verde claro */
  color: #155724; /* Texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  display: flex; /* Para alinear icono y texto */
  align-items: center; /* Centra verticalmente */
  margin: 10px 0; /* Margen superior e inferior */
}

.success-message p {
  margin: 0; /* Elimina margen del párrafo */
  padding-left: 8px; /* Espaciado entre icono y texto */
}
